<%- include('partials/header') %>
<div class="form-container">
  <% if(locals.error) { %>
  <div class="alert alert-danger"><%= error %></div>
  <% } %> <% if(locals.success) { %>
  <div class="alert alert-success"><%= success %></div>
  <% } %>
  <form action="/change_password" method="POST">
    <div class="form-group">
      <label for="password" class="color">password</label>
      <input
        id="password1"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        type="password"
        class="form-control"
        name="password1"
      />
    </div>
    <div class="form-group">
      <label for="password2">password confirm</label>
      <input
        id="password2"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        type="password"
        class="form-control"
        name="password2"
      />
    </div>
    <button class="btn-share">Reset Password</button>
  </form>
</div>

<%- include('partials/footer') %>
